<jrl-matrix [matrix]="matrices[currentMatrix]"></jrl-matrix>

<div class="move">
  <button (click)="moveUp()">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>
  <button (click)="moveDown()">
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
  </button>
  <button (click)="moveLeft()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button (click)="moveRight()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
  <div class="spacer">&nbsp;</div>
  <button (click)="add()">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <button (click)="remove()">
    <i class="fa fa-minus" aria-hidden="true"></i>
  </button>
</div>

<div class="matrices">
  <jrl-matrix-thumbnail
    *ngFor="let matrix of matrices"
    [matrix]="matrix">
  </jrl-matrix-thumbnail>
</div>

<textarea [value]="getOutput()"></textarea>


<jrl-color-palette></jrl-color-palette>

